{% extends 'base.html' %}

{% block title %}
    <title>product</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <br>



{# form   #}
        <form method='post'>
            {% csrf_token %}
            <div class="form-group">
                <label>
                    <input type="text" class="form-control" name="name" placeholder="product">
                </label>
                <label>
                    <input type="number" class="form-control" name="price" placeholder="price">
                </label>
                <label>
                    <input type="number" class="form-control" name="inventory" placeholder="inventory">
                </label>
                <button type="submit" class="btn btn-primary">Add product</button>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </form>



{#  table  #}
        <br>
        <table class="table table-bordered table-dark text-center" style="padding: 0">
            <thead class="thead-dark">
            <tr class="row">
                <th class="col-4">Product</th>
                <th class="col-2">Price</th>
                <th class="col-2">Inventory</th>
                <th class="col-4">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if all_products %}
                {% for obj in all_products %}
                    {% if obj.price > 45000 %}
                        <tr class="bg-danger row">
                            <td class="col-4">{{ obj.name }}</td>
                            <td class="col-2">{{ obj.price }}</td>
                            <td class="col-2">{{ obj.inventory }}</td>
                            <td class="col-2"><a href="{% url 'edit_product' obj.code %}">
                                <button type="button" class="btn btn-warning">Edit</button>
                            </a></td>
                            <td class="col-2"><a href="{% url 'delete_product' obj.code %}">
                                <button type="button" class="btn btn-secondary">Delete</button>
                            </a></td>
                        </tr>
                    {% else %}
                        <tr class="row bg-dark">
                            <td class="col-4">{{ obj.name }}</td>
                            <td class="col-2">{{ obj.price }}</td>
                            <td class="col-2">{{ obj.inventory }}</td>
                            <td class="col-2"><a href="{% url 'edit_product' obj.code %}">
                                <button type="button" class="btn btn-warning">Edit</button>
                            </a></td>
                            <td class="col-2"><a href="{% url 'delete_product' obj.code %}">
                                <button type="button" class="btn btn-secondary">Delete</button>
                            </a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>



{#page#}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if all_products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?pg={{ all_products.previous_page_number }}">{{ all_products.previous_page_number }}</a>
                    </li>
                {% endif %}
                <li class="page-item"><a class="page-link"
                                         href="?pg={{ all_products.number }}">{{ all_products.number }}</a></li>
                {% if all_products.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?pg={{ all_products.next_page_number }}">{{ all_products.next_page_number }}</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?pg={{ all_products.paginator.num_pages }}">>></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock content %}

